* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #dbdbfa;
    color: #1C2826;
    overflow: hidden;
    overflow-y: scroll;
}