#intro {
    height: calc(100vh - 5rem);  /* 100vh - the height of the navbar */
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    bottom: 0;
    right: -17rem;  /* try with 0 for other image*/
    z-index: -1;
    object-fit: cover;
    height: 90vh;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 0 2rem 2rem 2rem;
    font-size: 2.25rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -10px;
}

.hello {
    font-size: 1.5rem;
    font-weight: 100;
}

.introName {
    color: #941C2F;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
    max-width: 480px;
}

.btn {
    background: #70172A;
    color: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.5rem -1px 0.5rem;
    height: 0.75rem;
}

@media screen and (min-width: 1280px) {
    .introPara{
        max-width: 700px;
    }

    .introContent {
        font-size: 3rem;
    }

    .hello {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .introPara{
        max-width: 600px;
    }

    .introContent {
        font-size: 2.5rem;
    }

    .hello {
        font-size: 1.75rem;
    }
}

@media screen and (max-width:899px) {
    #intro {
        height: 100vh;
    }
    
    .bg {
        display: none;
    }

    .introContent {
        font-size: 8vw;
        margin-top: -40px;
    }

    .introPara {
        font-size: 1.25rem;
        max-width: 700px;
    }

    .hello { 
        font-size: 4.5vw;
    }

    .btn {
        width: 250px;
    }

    .hireLink {
        margin-top: 12px;
    }
}
