.projectDetailsContainer {
    margin: 2rem 4rem;
}

.backLink {
    color: #941C2F;
    text-decoration: underline;
}

.projectTitle {
    margin-top: 20px;
}

.projectDetails {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
}

.projectSpecificationsContainer{
    flex: 1;
    text-align: justify;
}

.projectSpecificationsContainer h1 {
   font-size: 400%;
   margin-top: 1rem;
}

.projectSpecificationsContainer h3 {
    color: #941C2F;
}

.projectSpecificationsContainer a {
    color: #7a7ac7;
    text-decoration: underline;
    font-weight: 600;
}

