.footer {
    width: 100vw;
    height: 5rem;
    background-color: #b5b5d4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
    margin-top: 0.75rem;
}